<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/mysite/api/categories" method="post">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="file" name="image" id="">
        <button type="submit">SEND</button>
    </form>
</body>
</html>