{% extends "base.html"%}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'mystyle.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

{% endblock %}
{% block body %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-3'>
            <div class='ab pt-2 text-center'>
                <div style="font-size:40px; height:80px;width:80px;" class="mx-auto rounded-circle bg-danger text-light text-center p-4">{{pp.letter}}</div>
                <p><a href="{% url 'mysite:profile'%}"> {{pp.subtitle}} {{user.first_name}}</a></p>
            </div>
            <div class='ab list-group my-4'>
                <h4 class='title'><i class="far fa-address-card"></i> Manage Profile</h4>
                <a href="{% url 'mysite:profile'%}" class='list-group-item dash'>My Profile</a>
                <a href="{% url 'mysite:change_profile' %}" class='list-group-item dash'>Change Profile</a>
                <a href="{% url 'mysite:change_password' %}" class='list-group-item dash'>Change Password</a>
            </div>
            <div class='ab'>
                <h4 class='title'><i class="fas fa-cart-arrow-down"></i> My Orders</h4>
                <a href="{% url 'mysite:orders'%}" class='list-group-item dash'>Orders</a>
            </div>
            <div class='ab'>
                <h4 class='title'>
                    <a href="{% url 'mysite:uslogout'%}" class='list-group-item dash'><i class="fas fa-sign-out-alt"></i> Logout</a>
                </h4>
            </div>
        </div>
        <div class='col-md-9' id='rcover'>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}