{% extends "base.html"%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'style.css'%}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<script src="{% static 'jquery.js'%}"></script>
<style>
.bg-image--18 {
  background-image: url("{% static 'images/img/background.jpg'%}");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;color:white; }
</style>
<style> 
    .spinnerouter{
        background:rgb(0,0,0,0.5);position:fixed;width: 100%;height: 100%;z-index:99999;
        top:0px;display: none;}
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid rgb(60, 67, 164); /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 1s linear infinite;
        position: absolute;
        left:45%;
        top:45%;
        z-index:999999;
    }
    .spinner-border{
        height:25px;width:25px;border:5px solid white;border-top:5px solid #f0ad4e;
        animation: spin 1s linear infinite;border-radius:50%;margin:auto;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    table,td{
    color:black !important;
    }


</style>
{% endblock %}
{% block body %}
{% if messages %}
    {% for i in messages %}
       
                <div class="alert alert-{{i.tags}} status">{{i}}</div>
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
<!-- Start Bradcaump area -->
<div class="spinnerouter">
    <div class="loader">

    </div>
</div>
<div class="ht__bradcaump__area bg-image--18">
        <div class="ht__bradcaump__wrap d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title text-light">Orders Page</h2>
                            <nav class="bradcaump-inner text-light">
                              <a class="breadcrumb-item text-light" href="{% url 'index' %}">Home</a>
                              <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
                              <span class="breadcrumb-item active text-light">cart page</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradcaump area --> 
    <!-- cart-main-area start -->
    <div class="cart-main-area section-padding--lg bg--white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2>All orders <span id="csize">{{total}}</span></h2>
                    <form action="#">               
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr class="title-top">
                                        <th class="product-thumbnail">Order ID</th>
                                        <th class="product-name">Txn ID</th>
                                        <th class="product-price">Order Detail</th>
                                        <th class="product-quantity">Total Amount</th>
                                        <th class="product-subtotal">Delivered At</th>
                                        <th class="product-remove">Placed On</th>
                                        <th class="product-remove">Status</th>
                                        <th class="product-remove">Delivered On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- LINK TO APPLY -->
                                    {% for i in orders %}
                                    <tr>
                                        <td class="product-thumbnail">{{i.id}}</td>
                                        <td class="product-name">{{i.txn_id}}</td>
                                        <td class="product-name">
                                            <ol class="list-group">
                                            {% for j in i.items %}
                                                <li class="list-group-item">
                                                    {{j.name}} &#8377;{{j.price}} X {{j.quantity}}
                                                </li>
                                            {% endfor %}
                                            </ol>   
                                        </td>
                                        <td class="product-price">{{i.amount}}</td>

                                        <td class="product-subtotal">{{i.delivered_at}}</td>
                                        <td class="">{{i.received_on}}</td>
                                        <td class="">
                                                <script>
                                                    $(function(){
                                                        let c = $('#stbtn{{i.id}}').html();
                                                        if(c=='Pending'){
                                                            $('#stbtn{{i.id}}').addClass('btn-danger');
                                                        }else{
                                                            $('#stbtn{{i.id}}').addClass('btn-success');
                                                        }
                                                    })
                                                    </script>
                                            <button class="btn" id="stbtn{{i.id}}">{{i.status}}</button>
                                        </td>
                                        <td>{{i.delivered_on}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form> 
                </div>
            </div>
        </div>  
    </div>
    
{% else %}
    <h2 class="alert alert-danger text-center">To view orders, You need to login first!!!</h2>
{% endif %}
{% endblock%}